$color-primary: #ffca1d;
$color-scondary: rgb(73, 9, 62);
$color-nav: rgb(255, 191, 71);
$radius-border: 30px;

.body {
  background-color: grey;
  width: auto;
  height: max-content;
}

.nav {
  position: relative;
  background-color: $color-nav;
  text-align: center;
  margin-top: 0px;
  padding: 0;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  background-color: $color-nav;
}
.h2 {
  color: $color-scondary;
  position: relative;
  left: auto;
}
.a {
  position: relative;
  text-decoration: none;
  background-color: $color-nav;
  color: $color-scondary;
}

.btn {
  position: relative;
  left: 140px;
  color: $color-scondary;
}
.btn :hover {
  background-color: white;
  color: $color-scondary;
}
.FastLook {
  /* top | right | bottom | left */
  margin: 2em 2em auto 2em;
  border-radius: $radius-border;
  background-image: linear-gradient(
    to right,
    rgb(255, 179, 37),
    rgb(255, 255, 255)
  );
}
.Mapp {
  position: relative;
  left: 2px;
  border-radius: $radius-border;
  background-color: #ff8c09;
  width: 15em;
  height: 7em;
  box-shadow: 10px 10px 10px rgb(209, 143, 1);
  color: rgb(0, 0, 0);
  text-size-adjust: 20px;
  font-size: 0.75em;
}

.freecls {
  position: relative;
  left: 250px;
  width: 400px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  border-radius: $radius-border;
  background-color: white;
  color: black;
  padding: 2px;
}

.TextField {
  border-radius: 50px;
}
